@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  width: 500px;
  margin: 2em auto;
}

h1 {
  font-size: 3.5rem;
}

label.todo-input-label {
  display: block;
  font-style: italic;
  margin-bottom: 0.25em;
}

button#add-todo-btn,
input#todo-input {
  font-family: inherit;
  padding: 0.25em 0.5em;
  font-size: 1rem;
}

button#add-todo-btn:disabled {
  transition: color 0.5s ease-out;
}

button#add-todo-btn:enabled {
  transition: color 0.5s ease-out;
}

button.save,
button.cancel,
button.edit,
button.done-button {
  margin-left: 4px;
}

input#todo-input {
  margin-right: 4px;
}

li:not(:first-child) {
  margin-top: 8px;
}

.done-todo {
  text-decoration: line-through;
}
